.content-section {
    padding: 0px 5%;
  }
  
  .section-box {
    padding: 20px ;
    margin: 20px;
    background: #fefaf3;
  }
  
  .section-title {
    text-align: center;
    font-size: 24px;
    color: #8b5e3c;
    margin-bottom: 20px;
    border-bottom: 1px solid #e0d6c6;
    padding-bottom: 10px;
  }
  
  .section-content {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .section-box.reverse .section-content {
    flex-direction: row-reverse;
  }
  
  .section-content img {
    width: 280px;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  }
  
  .text-box {
    flex: 1;
    color: #4a3c2b;
  }
  
  .text-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .text-box p {
    line-height: 1.8;
    font-size: 15px;
  }
  
  .gallery {
    display: flex;
    justify-content: center;
    gap: 125px;
    margin-top: 20px;
  }
  
  .qrcode-item {
    width: 250px;
    height: 250px;
    border-radius: 30%;
    overflow: visible;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    text-align: center;
  }
  
  .qrcode-item img {
    padding: 12% 12% 0 12%;
    width: 76%;
    height: 76%;
    object-fit: cover;
    display: block;
  }
  .qrcode-item span{
    color: #8b5e3c;
    font-size: 15px;
  }
  