
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}
header {
  background: #d8c6aa;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
}
header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}
nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}



footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #333;
  color: white;
}
footer img {
  width: 80px;
  margin-left: 10px;
}
